h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    display: flex;
    justify-content: center;
    align-items: center; 
}

.btn{
    margin: 10px;
    padding: 25px;
    background-color:blanchedalmond;
    border-color: black;
    font-size: 25px;
    cursor: pointer;
}