h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.three-buttons{
    display: flex;
    justify-content: center;
    align-items: center; 
}

.btn{
    margin: 10px;
    padding: 25px;
    background-color:#ffebcd;
    border-color: black;
    font-size: 25px;
    cursor: pointer;
}

.results{
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100px;
    width: 275px;
    margin-top: 14px;
    background-color:#ffebcd;
    font-size: 16px;
}

.score{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    height: 300px;
    width: 275px;
    margin-top: 14px;
    background-color:#ffebcd;
    font-size: 18px;
}